body {
  padding-bottom: 1rem;
}

.icon-shoppingcart {
  color: white;
}

.form-control-header {
  margin-left: 1rem;
  margin-right: 1rem;
}

.navbar {
  margin-bottom: 1rem;
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0;
  padding-bottom: 0.5rem;
}

.navbar_logo {
  box-sizing: border-box;
  height: 7rem;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(2, 33, 53) !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}