.logo_black-bg {
  width: 4.5rem;
}

.navbar-nav {
  display: none;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  .navbar-nav {
    display: contents;
  }
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  .navbar-nav {
    display: contents;
  }
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255);
  --bs-navbar-hover-color: rgba(240, 249, 255, 0.75);
  --bs-navbar-disabled-color: rgba(240, 249, 255, 0.25);
  --bs-navbar-active-color: #fff;
  --bs-navbar-brand-color: #fff;
  --bs-navbar-brand-hover-color: #fff;
  --bs-navbar-toggler-border-color: rgba(240, 249, 255, 0.1);
}

.bg-dark-navbar {
  --bs-bg-opacity: 1;
  background-color: rgb(2, 33, 53)
}

.nav-item {
  font-weight: bold;
  font-size: 1em;
}

.navbar {
  padding-left: 2.5rem;
  
}


