.bg-color {
    background-color: rgba(187, 165, 142, 0.8);
}

.img-size {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.carousel-caption {
    color: rgb(2, 33, 53);
}

.btn-carousel {
    --bs-btn-color: rgba(2, 33, 53);
    --bs-btn-border-color: rgba(2, 33, 53);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(2, 33, 53, 0.5);
    --bs-btn-hover-border-color: rgba(2, 33, 53, 0.5);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(2, 33, 53);
    ;
    --bs-btn-active-border-color: rgba(2, 33, 53);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(2, 33, 53, 0.5);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: rgba(2, 33, 53, 0.5);
    --bs-gradient: none
}

.btn-carousel-small {
    --bs-btn-color: rgba(2, 33, 53);
    --bs-btn-border-color: rgba(2, 33, 53);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(2, 33, 53);
    --bs-btn-hover-border-color: rgba(2, 33, 53);
    --bs-btn-focus-shadow-rgb: 108, 117, 125;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(2, 33, 53);
    --bs-btn-active-border-color: rgba(2, 33, 53);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: rgba(2, 33, 53);
    --bs-btn-disabled-border-color: rgba(2, 33, 53);
    --bs-gradient: none
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #022135;
    --bs-btn-border-color: #022135;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgba(2, 33, 53, 0.5);
    --bs-btn-hover-border-color: rgba(2, 33, 53, 0.5);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #022135;
    --bs-btn-active-border-color: #022135;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #022135;
    --bs-btn-disabled-border-color: #022135;
}

.carousel-indicators [data-bs-target] {
    background-color: rgba(2, 33, 53)
}

@media (max-width: 991.98px) {
    .products-display-large {
        display: none;
    }
}

@media (min-width: 991.99px) {
    .products-display-small {
        display: none;
    }
}


.card-body {
    height: 10rem;
}

.card-content {
    height: 5rem;
    margin-bottom: 1rem;
}

.card-content:hover {
    cursor: pointer;
}

.card-text-quantity {
    font-size: 0.8rem;
    color: gray;
}

.btn-center {
    text-align: center;
}

@media (max-width: 991.98px) {
    .d-flex {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        margin: 2rem;
        width: 15rem;
    }

    .card-img-top {
        height: 8rem;
        object-fit: cover;
    }
}

@media (min-width: 991.99px) {
    .d-flex {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .card {
        margin: 4rem;
        width: 20rem;
    }

    .card-img-top {
        height: 8rem;
        object-fit: cover;
    }
}  

.productDetailModal {
    width: 4rem;
    height: 8rem;
}