* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/*
.col (portrait phone -extra small devices – screen width unter 576px)
.col-sm- (landscape phone- screen width gleich oder größer 576px)
.col-md- (tablets - screen gleich oder größer 768px)
.col-lg- (laptops - screen gleich oder größer 992px)
.col-xl- (laptops&pc - screen width gleich oder größer 1200px)

font-size in em (1em = 16px)
styling in rem (1rem = 16px)
*/

/* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 0.0rem;
}

/* For tablets: */
@media (min-width: 768px) {}

/* For desktop: */
@media (min-width: 992px) {}

/*
Dunkelblau: rgb(2, 33, 53); #022135
Hellblau: rgb(125,204,255)
Dunkelrot: (196,45,45)
Rot: rgb(255, 76, 57); #ff4c39
Grün: rgb(127, 198, 66); #7fc642
*/

.borders-main-content {
  padding: 2rem;
  margin-top: 7rem;
}

.bg-picture{
  background: url(../images/spices2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-transparent{
  background-color: rgba(255,255,255,0.4) !important;
}

.index_login_list {
  list-style: none;
}

.index_help_list {
  list-style: none;
}

@media (max-width: 768px) {
  .no-display-sm {
    display: none;
  }
}